<p><i>Pour partager ce contenu au sein de vos réseaux</i></p>
<div class="shariff" data-lang="fr" data-services="facebook,twitter,linkedin,diaspora,whatsapp" data-url="{{site.url}}{{page.url}}" data-title="{{ page.title | escape }} - {{ site.title | escape }}"></div>
<p><i>Pour informer d'une erreur ou faire une suggestion : <a href="https://kafe.koweb.fr/t/guide-de-demarrage-pour-soutenir-le-travail-d-equipe-avec-les-outils-libres/771" target="_blank">rejoignez la discussion qui lui est dédiée au sein du Koweb Kafé</a></i></p>
{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%}
<script src="{{ site.baseurl }}assets/vendors/shariff/shariff.complete.js"></script>